---
layout: default
---
<header>
  {% if site.theme_config.show_navbar == true %}
    {% include horizontal_list.html collection=site.data.home.navbar_entries %}
    <div class="dashed"></div>
  {% endif %}
</header>

<span class="text-upcase">{{ site.author }}</span>

<header>
  <h1>Blog Articles</h1>
</header>

<p>I write on technical concepts such as Python, SQL, and cloud practices, as well as topics like climate change and productivity. </p>

{% include post_list.html %}
<br><br>
{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
